<head>
  <title>わかめ</title>
  <link rel="stylesheet" href="/css/ume.css">
</head>
<iframe src="https://wakamecomment.glitch.me/wakame/<%= id %>" style="border: none; margin: 0; height: 100vh; width: 100%;"></iframe>