<title>わかめ</title>
<link rel="stylesheet" href="/css/ume.css">
<iframe src="https://rgukt-sklm-abccf.firebaseapp.com/taxa/games/2048-master/index.html" style="border: none; margin: 0; height: 100%; width: 100%;" frameborder="0"></iframe>
