<head>
  <title>わかめ</title>
</head>
<iframe src="https://rgukt-sklm-abccf.firebaseapp.com/taxa/games/2048-master/index.html" style="border: none; margin: 0; height: 100vh; width: 100%;" frameborder="0"></iframe> 