<head>
  <title>わかめ</title>
</head>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        iframe {
            border: none;
            width: 100%;
            height: 100%;
        }
    </style>
<iframe src="https://rgukt-sklm-abccf.firebaseapp.com/taxa/games/2048-master/index.html" style="border: none; margin: 0; height: 100%; width: 100%;" frameborder="0"></iframe>