<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>講義3</title>
  <meta name="description" content="まっしろになっていく">
  <meta property="og:title" content="わかめtube">
  <meta property="og:description" content="まっしろになっていく">
  <meta property="og:site_name" content="わかめtube | まっしろ">
  <meta property="og:image" content="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/IMG_1142.png?v=1718674777380">
  <meta name="theme-color" content="#ff8181">
  <link rel="shortcut icon" href="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/IMG_1142.png?v=1718674777380">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="author" content="わかめtube | まっしろ">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/bootstrap.min.js"></script>
</head>
<style>
.result-item:hover {
  transform: scale(2.00);
}
    .pagination {
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }

    a {
      color: #ff8181;
    }
</style>
<body>
  <header>
    <div class="banner">
      <button class="btn btn-link" onclick="window.location.href='https://wakame02q.glitch.me'">ホーム🏠</button>
      <button class="btn btn-link" onclick="window.location.href='/blog'">お知らせ</button>
      <!-- 他のボタンもここに追加できます -->
      <form class="d-flex" action="/s">
        <input type="text" name="q" class="form-control" placeholder="キーワードを入力..." required>
      </form>
      <button class="btn btn-link" style="position: absolute; right: 10px;" onclick="window.location.href='/send'">問い合わせ</button>
    </div>
  </header>
  <p>
    曲をきこう！。動画を読み込むまで少し待ってください:)
  </p>
  <div class="results">
        <div class="result-item">
            <video controls>
               <source src="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/kuuninaru.mp4?v=1721696636763" preload="metadata" type="video/mp4">
            </video>
          <p class="channel-name">MIMI</p>
          <p class="video-title">『くうになる』 / feat. 初音ミク ＆ 可不</p>
          <p class="video-description">2:35</p>
          <p class="video-meta"></p>
        </div>
        <div class="result-item">
            <video controls>
               <source src="https://cdn.glitch.me/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/a%CC%83%C2%80%C2%90Animation%20MVa%CC%83%C2%80%C2%91%20What%20an%20amazing%20swing%20_e%CC%80%C2%A7%C2%92a%CC%8A%C2%B7%C2%BBa%CC%83%C2%82%C2%8Fa%CC%83%C2%81%C2%9Fa%CC%83%C2%82%C2%81a%CC%83%C2%80%C2%90originala%CC%83%C2%80%C2%91.mp4?v=1721697807240" preload="metadata" type="video/mp4">
            </video>
          <p class="channel-name">角巻わため</p>
          <p class="video-title">【Animation MV】 What an amazing swing /角巻わため【original】</p>
          <p class="video-description">3:18</p>
          <p class="video-meta"></p>
        </div>
        <div class="result-item">
            <video controls>
               <source src="https://cdn.glitch.global/07c1f87a-06fc-4159-8a78-1d6bf0407b94/video%209.mp4?v=1721698248740" preload="metadata" type="video/mp4">
            </video>
          <p class="channel-name">猫又おかゆ</p>
          <p class="video-title">ウミユリ海底譚 / 猫又おかゆ(cover)</p>
          <p class="video-description">4:02</p>
          <p class="video-meta"></p>
        </div>
        <div class="result-item">
            <video controls>
               <source src="https://cdn.glitch.global/07c1f87a-06fc-4159-8a78-1d6bf0407b94/video%207.mp4?v=1721698248743" preload="metadata" type="video/mp4">
            </video>
          <p class="channel-name">角巻わため</p>
          <p class="video-title">RAINBOW</p>
          <p class="video-description">3:38</p>
          <p class="video-meta"></p>
        </div>
        <div class="result-item">
            <video controls>
               <source src="https://cdn.glitch.global/07c1f87a-06fc-4159-8a78-1d6bf0407b94/konkon.mp4?v=1721699268822" preload="metadata" type="video/mp4">
            </video>
          <p class="channel-name">白上フブキ</p>
          <p class="video-title">KONKON Beats</p>
          <p class="video-description">2:52</p>
          <p class="video-meta"></p>
        </div>
        <div class="result-item">
            <video controls>
               <source src="https://cdn.glitch.global/07c1f87a-06fc-4159-8a78-1d6bf0407b94/video%2013.mp4?v=1721699154025" preload="metadata" type="video/mp4">
            </video>
          <p class="channel-name">ツユ</p>
          <p class="video-title">くらべられっ子</p>
          <p class="video-description">3:36</p>
          <p class="video-meta"></p>
        </div>
        <div class="result-item">
            <video controls>
               <source src="https://cdn.glitch.global/07c1f87a-06fc-4159-8a78-1d6bf0407b94/絶妙に気持ち悪い曲.mp4?v=1721699480538" preload="metadata" type="video/mp4">
            </video>
          <p class="channel-name">春雨</p>
          <p class="video-title">絶妙に気持ち悪い曲</p>
          <p class="video-description">1:28</p>
          <p class="video-meta"></p>
        </div>
        <div class="result-item">
            <video controls>
               <source src="https://cdn.glitch.me/07c1f87a-06fc-4159-8a78-1d6bf0407b94/ph.mp4?v=1721700358999" preload="metadata" type="video/mp4">
            </video>
          <p class="channel-name">SEVENTHLINKS</p>
          <p class="video-title">p.h.</p>
          <p class="video-description">2:35</p>
          <p class="video-meta"></p>
        </div>
        <div class="result-item">
            <video controls>
               <source src="https://cdn.glitch.global/07c1f87a-06fc-4159-8a78-1d6bf0407b94/M7FH1dL51oU.mp4?v=1721701099993" preload="metadata" type="video/mp4">
            </video>
          <p class="channel-name">ツユ</p>
          <p class="video-title">泥の分際で私だけの大切を奪おうだなんて</p>
          <p class="video-description">3:13</p>
          <p class="video-meta"></p>
        </div>
  </div>
  
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var videos = document.querySelectorAll('video');
            videos.forEach((video) => {
                video.pause();
                video.currentTime = 0;
            });
        });
    </script>
</body>

</html>