<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ytmous</title>
  <meta name="description" content="A anonymous Youtube that does not spy on you.">
  <meta property="og:title" content="ytmous">
  <meta property="og:description" content="A anonymous Youtube that does not spy on you.">
  <meta property="og:site_name" content="ytmous | Watch Anonymously!">
  <meta property="og:image" content="/banner.png">
  <meta name="theme-color" content="#ff8181">
  <link rel="shortcut icon" href="/logo.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="author" content="ytmous | Watch Anonymously!">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/bootstrap.min.js"></script>
</head>

<body>
  <header>
    <div class="banner">
            <button class="btn btn-link" onclick="window.location.href='/blog'">Blog</button>
      <button class="btn btn-link" onclick="window.location.href='/blog'">Blog</button>
      <!-- 他のボタンもここに追加できます -->
    </div>
  </header>

  <main class="container text-center">
    <div class="search-bar">
      <form action="/s" method="get">
        <input type="text" name="q" class="form-control" placeholder="Search Video...." required>
        <button type="submit" class="btn btn-search">Search</button>
      </form>
    </div>
  </main>

  <footer class="text-center">
    <p class="mt-5 mb-3 text-muted">© Yonle</p>
  </footer>
</body>

</html>
