<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>きりきり</title>
  <style>

  </style>
</head>
<body>
  <header>
    <div class="banner">
      <button class="btn btn-link" onclick="window.location.href='https://wakame02m.glitch.me'">ホーム🏠</button>
      <button class="btn btn-link" onclick="window.location.href='/blog'">お知らせ</button>
      <form class="d-flex" action="/s">
        <input type="text" name="q" class="form-control" placeholder="キリ番ダネー" required>
      </form>
      <button class="btn btn-link" id="menu-btn">ツール</button>
    </div>
  </header>

  <section class="intro">
    <h1>きりきりきり</h1>
    <p>わかめtube全体で「何回目の再生か」。うーん。キリ番みたいな感じ？たまにリセットします。<br>統計開始日: 2024年10月21日</p>
  </section>

  <section class="results">
    
    <div class="result-item">
      <a href="/w/LoSPNeDGI_k">
        <img loading="lazy" src="/vi/LoSPNeDGI_k/mqdefault.jpg" alt="動画サムネイル"></a>
      <div class="video-info">
        <p class="video-title"><a href="/w/LoSPNeDGI_k">【アニメ】今日は何の日でしょう！</a></p>
        <p class="channel-name"><a href="/c/xyz456">ちぐさくん【AMPTAK】</a></p>
      </div>
      <p class="play-count">200回目の再生</p>
    </div>
    
    <div class="result-item">
      <a href="/w/0qokNKi_h54">
        <img loading="lazy" src="/vi/0qokNKi_h54/mqdefault.jpg" alt="動画サムネイル"></a>
      <div class="video-info">
        <p class="video-title"><a href="/w/0qokNKi_h54">【オリジナルMV】おまじない</a></p>
        <p class="channel-name"><a href="/c/UC54JqsuIbMw_d1Ieb4hjKoQ">みけねこch</a></p>
      </div>
      <p class="play-count">100回目の再生</p>
    </div>
  
  </section>
</body>
</html>
