<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Player</title>
</head>
<body>
  <h1><%= info.videoDetails.title %></h1>
  <audio controls>
    <source src="<%= videoUrl %>" type="mp3">
    Your browser does not support the audio element.
  </audio>
</body>
</html>