<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ネタ機能</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #fdf2f4;
      color: #333;
      margin: 0;
      padding: 0;
      line-height: 1.6;
    }

    header {
      background-color: #4CAF50;
      color: #fdf2f4;
      padding: 20px;
      text-align: center;
    }

    header h1 {
      margin: 0;
      font-size: 2.5em;
    }

    .blog-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 30px;
    }

    .blog-item {
      background-color: #fff;
      width: 200px;
      margin: 15px;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      transition: transform 0.2s;
    }

    .blog-item:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .blog-item h2 {
      font-size: 1.3em;
      margin-bottom: 10px;
      color: #4CAF50;
    }

    .blog-item p {
      font-size: 0.9em;
      color: #555;
      margin-bottom: 15px;
    }

    .blog-item a {
      display: inline-block;
      background-color: #4CAF50;
      color: white;
      padding: 10px 15px;
      border-radius: 5px;
      text-decoration: none;
    }

    .blog-item a:hover {
      background-color: #45a049;
    }

    footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 20px;
      margin-top: 40px;
    }

  </style>
</head>
<body>

<header>
  <h1>ネタ機能一覧</h1>
    <p>
    実用性？そんなものありません。<br>時間を無駄にしたくない？今すぐお帰りください<br>
      ここはそんなページです。暇な方は、開発者のお遊び機能に付き合ってあげてください(^○^)
  </p>
</header>


<div class="blog-list">
  
  <div class="blog-item">
    <h2>再生数ランキング</h2>
    <p>わかめtube内で(統計を始めてから)「100回目に再生された！」などの統計が載ってます。</p>
    <a href="/kirikiri">見てみる</a>
  </div>

  <div class="blog-item">
    <h2>キリ番</h2>
    <p>わかめtube内での直近⚪︎⚪︎件の中での再生数ランキングです！。</p>
    <a href="/topvideos">見てみる</a>
  </div>
  
  <div class="blog-item">
    <h2>おまかせ再生</h2>
    <p>わかめtube内で再生された直近500件の動画からランダムで再生します。</p>
    <a href="/tsttsttst23">使う！</a>
  </div>
  
</div>

<footer>
  <p>&copy; 2024 わかめ02. All rights reserved.</p>
</footer>

</body>
</html>
