<!DOCTYPE html>
<html>
<head>
  <title>わかめうまい</title>
</head>
<body>
  <h1>再生</h1>
  <video controls autoplay>
    <source src="<%= videoUrl %>" type="video/mp4">
    読み込み失敗。ブラウザをアップデートしてどうぞ。
  </video>
  <br>
  <a href="/">戻る</a>
</body>
</html>