<!DOCTYPE html>
<html>
<head>
  <title>わかめうまい</title>
</head>
<body>
  <h1>再生</h1>
  <video controls autoplay>
    <source src="<%= videoUrl %>" type="video/mp4">
    読み込み失敗。ブラウザをアップデートしてどうぞ。
  </video>
  <br>
  <a href="/">戻る</a>
<style>
  video {
      width: 100%;
      height: auto;
      border: 2px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
</body>
</html>