<!DOCTYPE html>
<html lang="ja">

<head>
  <title>問い合わせ - わかめtube</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/bootstrap.min.js"></script>
</head>
  
<body>
    <header>
    <div class="banner">
      <button class="btn btn-link" onclick="window.location.href='/'">ホーム🏠</button>
      <button class="btn btn-link" onclick="window.location.href='/blog'">お知らせ</button>
      <form class="d-flex" action="/s">
        <input type="text" name="q" class="form-control" placeholder="キーワードを入力..." required>
      </form>
    </div>
  </header>
  <p>現在確認されてる動作不良については、<a href="/blog/down">こちら</a>をご覧ください。</p>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScUM0jg2Le01pj5uirXkj-YYX0YrC4AK6MVL295s199V5s9dg/viewform?embedded=true" width="640" height="936" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
  <p>
    最近、意味不明な問い合わせが多くきています(´・ω・｀)。どうせ書くなら日本語を書いてくれよなっ！
  </p>
</body>
</html>