<!DOCTYPE html>
<html lang="ja">

<head>
  <title>問い合わせ - わかめtube</title>
  <meta name="description" content="まっしろになってゆく">
  <meta property="og:title" content="わかめtube">
  <meta property="og:description" content="まっしろになってゆく">
  <meta property="og:site_name" content="わかめtube | まっしろになっていく">
  <meta property="og:image" content="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/IMG_1142.png?v=1718674777380">
  <meta name="theme-color" content="#ff8181">
  <link rel="shortcut icon" href="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/IMG_1142.png?v=1718674777380">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="author" content="わかめtube | まっしろ">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/bootstrap.min.js"></script>
</head>
  
<body>
    <header>
    <div class="banner">
      <button class="btn btn-link" onclick="window.location.href='/'">ホーム🏠</button>
      <button class="btn btn-link" onclick="window.location.href='/blog'">お知らせ</button>
      <!-- 他のボタンもここに追加できます -->
      <form class="d-flex" action="/s">
        <input type="text" name="q" class="form-control" placeholder="キーワードを入力..." required>
      </form>
    </div>
  </header>
<h1>
  現在確認されている動作不良
  </h1>
  <ul>
    <li>チャンネルページにて、「次のページへ」ボタンが訳わからんところに出現中。特に害はないので放置中である</li>
    <li>動画を再生しようとするとエラーが起こる。これは再更新したら直ります。ぼちぼち直す予定</li>
  </ul>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScUM0jg2Le01pj5uirXkj-YYX0YrC4AK6MVL295s199V5s9dg/viewform?embedded=true" width="640" height="936" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</body>

</html>
