/* styles.css */
body {
  font-family: 'Nico Moji', sans-serif;
  background-color: #f5f5f5;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

header {
  width: 100%;
  background-color: #000000;
  padding: 10px 0;
  text-align: left;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
}

.banner .btn {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.search-bar .form-control {
   padding: 10px;
   width: 300px;
   border: 1px solid #cccccc;
   border-radius: 4px;
}

.search-bar .btn-search {
   padding: 10px;
   background-color: #333333;
   color: white;
   border: none;
   border-radius: 4px;
   margin-left: 10px;
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
