<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>わかめふりかけ</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
    <div class="banner">
      <button class="btn btn-link" onclick="window.location.href='/'">ホーム🏠</button>
      <button class="btn btn-link" onclick="window.location.href='/blog'">お知らせ</button>
      <!-- 他のボタンもここに追加できます -->
      <form class="d-flex" action="/s">
        <input type="text" name="q" class="form-control" placeholder="キーワードを入力..." required>
      </form>
      <button class="btn btn-link" style="position: absolute; right: 10px;" onclick="window.location.href='/send'">問い合わせ</button>
    </div>
  </header>
    <main>
      <center><big>
        <a href="/send">ここから</a>私に新しいゲームをリクエストできます！
      </big></center>
        <section class="game-list">
          <a href="/game/stickman">
            <article class="game-item">
                <img src="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/IMG_1486.jpeg?v=1719117553855" alt="Game 1">
                <div class="game-info">
                    <h2>Stick man</h2>
                    <p>ロープで飛べ！</p>
                </div>
            </article>
          </a>
          <a href="https://massirot.glitch.me">
            <article class="game-item">
                <img src="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/IMG_1654.jpeg?v=1719809780974" alt="Game 1">
                <div class="game-info">
                    <h2>太鼓web (わかめver)</h2>
                    <p>太鼓の達人</p>
                </div>
            </article>
          </a>
          <a href="https://packwakame.glitch.me">
            <article class="game-item">
                <img src="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/IMG_1811.jpeg?v=1725591149083" alt="Game 1">
                <div class="game-info">
                    <h2>パックマン</h2>
                    <p>ぱっくまん</p>
                </div>
            </article>
          </a>
          <a href="/game/pingpong">
            <article class="game-item">
                <img src="https://cdn.glitch.global/cb8ecc00-b93e-4f74-9bb8-5940531ec5d8/IMG_1907.jpeg?v=1728232580990" alt="Game 1">
                <div class="game-info">
                    <h2>Ping-Pong PvP</h2>
                    <p>2人で卓球ゲーム？的なので遊べます。</p>
                </div>
            </article>
          </a>
          <a href="/game/drive">
            <article class="game-item">
                <img src="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/IMG_1488.jpeg?v=1719117561639" alt="Game 1">
                <div class="game-info">
                    <h2>ドライブゲーム</h2>
                    <p><del>今にもぶっ壊れそうな</del>車の冒険</p>
                </div>
            </article>
          </a>
          <a href="/game/hextris">
            <article class="game-item">
                <img src="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/IMG_1813.jpeg?v=1725591836612" alt="Game 1">
                <div class="game-info">
                    <h2>Hextris</h2>
                    <p>回転させ、3つ揃えて消します。</p>
                </div>
            </article>
          </a>
          <a href="/game/aiothello">
            <article class="game-item">
                <img src="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/IMG_1633.jpeg?v=1719809274004" alt="Game 1">
                <div class="game-info">
                    <h2>ひとりオセロ</h2>
                    <p>ばーさすつよつよAI。暇つぶしにどぞ。普通に強いです</p>
                </div>
            </article>
          </a>
          <a href="https://cdn-factory.marketjs.com/en/idle-mining-empire/index.html?nocache">
            <article class="game-item">
                <img src="https://cdn.glitch.global/3128bf45-3a23-4695-81ba-3aba21b8585b/IMG_1965.jpeg?v=1729743762639" alt="Game 1">
                <div class="game-info">
                    <h2>Idle mining</h2>
                    <p>※外部のサイトにリダイレクトします</p>
                </div>
            </article>
          </a>
          <a href="/game/2048">
            <article class="game-item">
                <img src="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/IMG_1487.jpeg?v=1719117557948" alt="Game 1">
                <div class="game-info">
                    <h2>2048</h2>
                    <p>よくあるパズルゲー</p>
                </div>
            </article>
          </a>
          <a href="/game/ctr">
            <article class="game-item">
                <img src="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/IMG_1489.jpeg?v=1719117566250" alt="Game 1">
                <div class="game-info">
                    <h2>カットロープ</h2>
                    <p>ロープを切って食べ物をゲットしよう！</p>
                </div>
            </article>
          </a>
          <a href="https://wakame02cookie.glitch.me">
            <article class="game-item">
                <img src="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/IMG_1698.jpeg?v=1720188824199" alt="Game 1">
                <div class="game-info">
                    <h2>クッキークリッカー</h2>
                    <p>まずは「言語」で「日本語」を選択する必要があります</p>
                </div>
            </article>
          </a>
          <a href="/game/snow">
            <article class="game-item">
                <img src="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/IMG_1490.jpeg?v=1719117569017" alt="Game 1">
                <div class="game-info">
                    <h2>snow man</h2>
                    <p>雪玉をぶつけ合うバトロワ</p>
                </div>
            </article>
          </a>
          <a href="/game/stellar">
            <article class="game-item">
                <img src="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/IMG_1655.jpeg?v=1719827816226" alt="Game 1">
                <div class="game-info">
                    <h2>STELLAR DRIFT</h2>
                    <p>迫り来る惑星を避ける。それだけです</p>
                </div>
            </article>
          </a>
          <a href="/game/topwar">
            <article class="game-item">
                <img src="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/IMG_1491.jpeg?v=1719149115765" alt="Game 1">
                <div class="game-info">
                    <h2>トップウォー</h2>
                    <p>たまに見る謎の広告ゲー</p>
                </div>
            </article>
          </a>
          <a href="/game/hikikomori">
            <article class="game-item">
                <img src="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/IMG_1835.jpeg?v=1725862450111" alt="Game 1">
                <div class="game-info">
                    <h2>引きこもりの1日</h2>
                    <p>あなたの1日を採点してくれるシミレーションゲーム</p>
                </div>
            </article>
          </a>
          <a href="/game/interland">
            <article class="game-item">
                <img src="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/IMG_1492.jpeg?v=1719149988384" alt="Game 1">
                <div class="game-info">
                    <h2>interland</h2>
                    <p>Google作のリテラシー教育ゲーム</p>
                </div>
            </article>
          </a>
         <a href="/game/driftboss">
            <article class="game-item">
                <img src="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/IMG_1493.jpeg?v=1719149989867" alt="Game 1">
                <div class="game-info">
                    <h2>ドリフトボス</h2>
                    <p>車でひたすら進み続ける重度の暇人向けゲーム</p>
                </div>
            </article>
          </a>
          <a href="/game/paper">
            <article class="game-item">
                <img src="https://cdn.glitch.global/441c91ae-2a7f-4142-9ffb-ab0c7066dfa1/IMG_1604.jpeg?v=1719449838798" alt="Game 1">
                <div class="game-info">
                    <h2>paper io</h2>
                    <p>自分の陣地を広げるゲーム</p>
                </div>
            </article>
          </a>
        </section>
    </main>
  <style>

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.game-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    height: 400px;
    transition: transform 0.2s;
}

.game-item:hover {
    transform: translateY(-5px);
    transform: scale(1.20);
}

.game-item img {
    width: 100%;
    height: 300px;
}

.game-info {
    padding: 15px;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin: 0 0 10px;
}

p {
    font-size: 1em;
    margin: 0;
    color: #666;
}
</style>
</body>
</html>
