<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ああああ</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <div class="pure-g navbar h-box">
        <div class="pure-u-1 pure-u-md-12-24 searchbar">
            <form class="pure-form" action="/search" method="get">
                <fieldset>
                    <input type="search" id="searchbox" autocomplete="on" autocorrect="on" autocapitalize="none" spellcheck="false" name="q" placeholder="検索" title="検索">
                </fieldset>
            </form>
        </div>
    </div>

    <script>
        $(function() {
            $('#searchbox').autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: "/suggest",
                        data: { keyword: request.term },
                        success: function(data) {
                            response(data);
                        },
                        error: function() {
                            response([]);
                        }
                    });
                },
                delay: 300
            });
        });
    </script>
</body>
</html>
