<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>URL入力</title>
<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f7f8fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
  line-height: 1.6;
}

</style>
</head>
<body>
  <div class="container">
    <h1>HTMLを表示</h1>
    <button id="redirectButton">URLを入力！</button>
    <p>URLをコピーできたら、上のボタンを押して下さい。</p><br>
    <p>対象となるウェブサイトがX-Frame-Optionsヘッダー、またはCSPを設定している場合、取得できない場合があります。</p>
  </div>
  <script>
    document.getElementById('redirectButton').addEventListener('click', () => {
      const url = prompt('URLを入力して下さい');

      if (!url) {
        alert('URLが提供されていません');
        return;
      }

      const replacedUrl = url.replace(/\./g, '.wakame02.');

      const redirectUrl = `/getinv/${encodeURIComponent(replacedUrl)}`;

      window.location.href = redirectUrl;
    });
  </script>
</body>
</html>
