<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>わかめ</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/bootstrap.min.js"></script>
  </head>
<script>
document.getElementById('reloadButton').addEventListener('click', function() {
    location.reload();
});
</script>
<body>
 <header>
    <div class="banner">
      <button class="btn btn-link" onclick="window.location.href='/'">ホーム🏠</button>
      <button class="btn btn-link" onclick="window.location.href='/blog'">お知らせ</button>
      <!-- 他のボタンもここに追加できます -->
      <form class="d-flex" action="/s">
        <input type="text" name="q" class="form-control" placeholder="キーワードを入力..." required>
      </form>
      <button class="btn btn-link" style="position: absolute; right: 10px;" onclick="window.location.href='/send'">問い合わせ</button>
    </div>
  </header>
<p>
  サイトに接続できません(´・ω・｀)。下に「和布」と表示されるまで待って下さい。<br>
  表示されてから、このページを再読み込みしてみてね▶️<button id="reloadButton">ここを押して再読み込みする</button><br>
  それでも再生できない場合、何度か再更新してみて下さい。それでも無理なら、エラー文をお問い合わせにコピペして送って下さい。
</p>
<iframe src= "https://wakametubeapi.glitch.me" style="border: none; margin: 0; height: 100vh; width: 100%;">起動中...</iframe>
</body>
</html>