<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>わかめ</title>
  <link rel="stylesheet" href="/css/wakameblog.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>AIで書いたかどうかって分かるの？</h1>
      <p>宿題をAIに丸投げすることは可能なのか</p>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/blog/list">ブログ一覧</a></li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <h2>あーあーあ</h2>
      <p>
        お花🌸
      </p>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>&copy; わかめ02 / 2024.09.09</p>
    </div>
  </footer>
</body>
</html>