<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>わかめ</title>
  <link rel="stylesheet" href="/css/wakameblog.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>AIで書いたかどうかって分かるの？</h1>
      <p>宿題をAIに丸投げすることは可能なのか</p>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/blog/list">ブログ一覧</a></li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <h2>そもそもAIって何？</h2>
      <p>
        AIとは、「Artificial Intelligence（アーティフィシャル・インテリジェンス）」の略で、日本語では「人工知能」と呼ばれます。今回話題にするのは「生成AI」と呼ばれるもので、ユーザーのリクエストに応じて文章やイラストを作り出すAIです。有名な「ChatGPT」もこの生成AIの一例です。<br>
        GPTは非常に使いやすく、作文や作詞、読書感想文などを瞬時に終わらせることができます。そのため、宿題をAIに任せたことがある人もいるでしょう。しかし、「AIが書いたとバレるの？」という疑問が湧いてきますよね。今回はこの点について掘り下げていきます :)<br>
      </p>
      <h2>
        チェックツール
      </h2>
      <p>
        知っている人もいるかもしれませんが、そう言うツールが既にあります。文章を投げると、その文章が生成AIによって生成されたものである確率が表示されます。<br>
        「Turnitin」や「GPTZero」など有名なものがたくさん存在しています。外国産のものは、はっきり言ってゴミです。日本語の文章を理解することができません。その代わり、英語の文章に対しては高い精度で検出してきます。<br>
        一番怖いのは、国産のものです。日本語の文章に対して約90%を超える確率でAI生成を検出します。
      </p>
      <h2>
        好ましくない状況
      </h2>
      <p>
        こんな例を想像してみてください。あなたがAIに頼んで書いてもらった作文を先生が「とても素晴らしい！」と褒めたとします。しかし、同じクラスの他の生徒も似たような文体や表現を使った作文を提出していることに気づいた先生が、「これは何かおかしい」と思い始めたらどうでしょうか？まさに、AIが生成した文章の「量産型」の一面がここに現れます。
      </p>
      <h2>
        宿題をAIに丸投げすることは可能なのか
      </h2>
      <p>
        不可能です。高い精度で検出することが可能な以上、いつバレてもおかしくはありません。しかし「丸投げ」でなければ、それは可能です。<br>
        AIチェックツールの検出を回避すれば良いのです。
      </p>
      <h2>
        回避する方法
      </h2>
      <p>
        AIチェックツールには、いくつかの判断基準があります。
      </p>
    </div>
  </main>
  <footer>
    <div class="container">
      <p>&copy; わかめ02 / 2024.09.09</p>
    </div>
  </footer>
</body>
</html>