<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>わかめ</title>
  <link rel="stylesheet" href="/css/wakameblog.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>簡単にページを作ってみる</h1>
      <p>いえい</p>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/neta/creatpage">ページを作る</a></li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <h2>これは何？</h2>
      <p>
        無料で！簡単に！あなたのページをネットに公開できます。
        まぁ、閲覧のためにはわかめtubeにログインしなきゃいけないんですけども。
      </p>
      <h2>
        やり方
      </h2>
      <p>
        まず、あなたのページをhtmlで書いて下さい。これは、まず内容を文字で書いて、それをGPTとかのAIに投げりゃ良いです。どうにかしてくれます、きっと。
        <br>
        で、それをhtmlのところにコピペ。次に、サイトIDを決めます。できる限り他とかぶらないようにして下さい。エラー起きちゃいます(悲)
        <br>
        htmlとサイトIDが入力できたら「送信」をクリックして待ち。ちょっと待ってると、送信ボタンの下にあなたのサイトのURLが表示されます。
      </p>
      <h2>
        Q&A
      </h2>
      <p>
        Q.公開したサイトは編集できますか？<br>
        A.あなたは出来ないです。僕にしか出来ません<br>
        Q.作ったサイトは消せますか？<br>
        A.簡単です！お問い合わせから「このサイトを消したいです」ってな感じでサイトのIDを送って下さい！<br>
        Q.サイトのIDを忘れてしまいました...<br>
        A.サイトの内容を詳しく送ってくれれば、僕が探します。この場合、返信しなきゃいけないので問い合わせの時にメールアドレスは必須です。
      </p>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>えぇ、、</p>
    </div>
  </footer>
</body>
</html>