<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>わかめ</title>
  <link rel="stylesheet" href="/css/wakameblog.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>わかめから情報を取得してみよう</h1>
      <p>海藻を回想してみて下さい。それは快走を生みます。</p>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul>
        <li><a href="/">ホーム</a></li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <h2>YouTubeの動画情報を取得しよう！</h2>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>ゲームしたい🎮</p>
    </div>
  </footer>
</body>
</html>