<!DOCTYPE html>
<html lang="ja">
<head>
  <title>不具合 - わかめ</title>
  <link rel="stylesheet" href="/css/wakameblog.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>現在発生している不具合</h1>
      <p>ここに載っていない不具合を発見した場合、問い合わせで送ってください</p>
    </div>
  </header>
    <nav>
    <div class="container">
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/blog">お知らせ</a></li>
        <li><a href="/send">問い合わせ</a></li>
      </ul>
    </div>
  </nav>
    <main>
    <div class="container">
<h2>
  現在確認されている動作不良
  </h2>
  <p>
  <ul>
    <li>特にないー</li>
  </ul>
  </p>
    </div>
  </main>
  </body>
</html>