<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>わかめ</title>
  <link rel="stylesheet" href="/css/wakameblog.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>今までありがとうございました</h1>
      <p>サービス終了のお知らせ</p>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <h2>サービス終了について</h2>
      <p>
        プロジェクト「わかめ」をご愛顧いただきまして誠にありがとうございます。<br>
当サービスは、学習の補助や学びの提供においてサービスを提供して参りましたが、問題の発生などにより、
今後も安定的にサービスを提供する事が難しく、ご利用状況を鑑みサービスを終了させていただきます。<br>
サービス終了に伴い、お客様には多大なるご不便をおかけすることと存じますが、何卒ご理解賜りますようお願い申し上げます。<br>
今までありがとうございました。
      </p>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>わかめ</p>
    </div>
  </footer>
</body>
</html>