<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ヘルプ - わかめ</title>
  <link rel="stylesheet" href="/css/wakameblog.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>ヘルプ</h1>
      <p>わかめtubeのヘルプです</p>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul>
        <li><a href="/">ホーム</a></li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <h2>わかめtubeってなに？</h2>
      <p>
        わかめ02と言う人が作ったウェブサイト。目標は「全てを１つのサイトで」である。<br>
        非公開サイトとして運営されているので、ここに入れるのはわかめ02の知り合いだけである。<br>
        もしこれを見ているのがわかめ02の知り合いじゃなかった場合、すぐにログアウトすることをオススメする。
      </p>
      <h2>使い方</h2>
      <p>
        まずは<a href="/">ホーム</a>に行ってみよう。全ての始まりだ。<br>
        <ul>
          <li>WAO!を押す→Proxy</li>
          <li>appを押す→ゲーム</li>
          <li>ツールを押す→便利ツール</li>
          <li>検索する→YouTube見れる。ダウンロードもできるゾ</li>
        </ul>
      </p>
      <h2>あああ</h2>
      <p>
        ええやん
      </p>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>&copy; わかめ02 / 2024</p>
    </div>
  </footer>
</body>
</html>