<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ヘルプ - わかめ</title>
  <link rel="stylesheet" href="/css/wakameblog.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>ヘルプ</h1>
      <p>わかめtubeのヘルプです</p>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul>
        <li><a href="/">ホーム</a></li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <h2>わかめtubeってなに？</h2>
      <p>
        <a href="/blog/wakame02">わかめ02</a>と言う人が作ったウェブサイト。目標は「全てを１つのサイトで」である。<br>
        非公開サイトとして運営されているので、ここに入れるのはわかめ02の知り合いだけ。<br>
        もしこれを見ているのがわかめ02の知り合いじゃなかった場合、すぐに使用を辞めようね。首折るよ？
      </p>
      <h2>使い方</h2>
      <p>
        まずは<a href="/">ホーム</a>に行ってみよう。全ての始まりだ。<br>
        <ul>
          <li>WAO!を押す→Proxy</li>
          <li>appを押す→ゲーム</li>
          <li>ツールを押す→便利ツール</li>
          <li>検索する→YouTube見れる。ダウンロードもできるゾ</li>
          <li>わかめMusic→音楽が聴けるゾ</li>
          <li>ブログ→ちょっとしたお知らせボードが見れるゾ</li>
        </ul>
      </p>
      <h2>YouTubeが見れません！</h2>
      <p>
        「動画を押しても入れない」「動画が読み込まれず、再生できない (0秒で止まる)」などがありましたら、まずは何度か再読み込みしてみて下さい。
        それでも無理そうならすぐに
        <a href="/blog/wakame02">わかめ02</a>までご連絡下さい。<br>
        え？連絡できないって？そんな訳ないですよね。あなたは私の知り合いのはずですよ(圧<br><br>
        とりあえず、エラー起きたら<strong>すぐに連絡して下さい</strong>。私がそのエラーに気づいていない可能性が高いです。<br>
        この手のエラーの復旧作業は、基本的に (私が気づいてから) 5分ほどで終了します。
      </p>
      <h2>YouTubeを1080pで見る方法</h2>
      <p>
        通常通り動画を読み込んだ後「高画質で再生」ボタンを押して下さい。
1080pで再生されます。1080pの動画が見つからない場合、720pで再生します。720pもない場合はエラーです。<br>
動画と音声を別で読み込みます。マージしても良いのですが、それをすると読み込みがすっごく遅くなります。<br><br>
まず動画を読み込む→1秒ほど再生する→「オーディオの位置を動画に合わせる」を押す→動画を再生。<br>
        これで動画をお楽しみいただけます。動画のコントロールバーを弄る場合、「オーディオの位置を動画に合わせる」をその都度押す必要があります(´；ω；`)<br><br>
        ちょっとめんどいけど、そもそもこのスピードで1080pでYouTube読み込んでるサイトとか普通に全然ないんよ。うん(言い訳)
    </p>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>&copy; わかめ02 / 2024</p>
    </div>
  </footer>
</body>
</html>