<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>わかめ</title>
  <link rel="stylesheet" href="/css/wakameblog.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>わかめtubeの使い方</h1>
      <p>🎉😆🎉</p>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/blog/list">ブログ一覧</a></li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <h2>ごあいさつ</h2>
      <p>
        わかめ02です。今回は、開発者側から見たわかめtubeの使い方について書いてみようと思います！
      </p>
      <h2>
        そもそも何故作ったの？
      </h2>
      <p>
        いろいろな偶然が重なり合って出来たって感じですが、1番の理由は「１つのサイトで全てをやりたい」と思ったのが始まりです。<br>
        YouTubeはこのサイトで見て、ダウンロードはこっちでして、proxyはこれを使って、ゲームはこのサイトにあって...
        うん。どう考えても面倒くさい。
      </p>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>&copy; わかめ02 / 2024.09.09</p>
    </div>
  </footer>
</body>
</html>