<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>わかめ</title>
  <link rel="stylesheet" href="/css/wakameblog.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>ping-pongのやり方</h1>
      <p>🏓</p>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/game/pingpong">ping-pongに戻る</a></li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <h2>
        やりたいこと
      </h2>
      <p>
        2つのデバイスの画面をくっつけて、2人で謎ゲー対決をしよう！
      </p>
      <h2>
        準備するもの
      </h2>
      <p>
        2つのデバイスと人間を2人(自分を含む)を用意します。
      </p>
      <h2>やり方</h2>
      <p>
        まず、「すたーと！」を押し、「OK」を押します。次に、この画面を右側のスクリーンとして使うか
        左側のスクリーンとして使うかを選びます。<br>
        左を選んだ場合、コードが表示されます。
        右を選んだ場合、コード入力フォームが表示されます。
        左に表示されているコードを右に入力して下さい。2つの画面が繋がります。<br>
        準備終わり。あとは卓球ゲームみたいなやつをお楽しみ下さい。
      </p>
      <h2>
        行こう！
      </h2>
      <p>
        <a href="/game/pingpong">ここをクリック</a>して今すぐゲームを開始します
      </p>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>ルールブックの書(重複)</p>
    </div>
  </footer>
</body>
</html>