<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>わかめ</title>
  <link rel="stylesheet" href="/css/wakameblog.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>あかうんと作成の注意</h1>
      <p>垢　垢</p>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/acregister">アカウント作成</a></li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <h2>アカウントについて</h2>
      <h3>
        ニックネーム
      </h3>
      <p>
        ニックネームです。僕で言うところの「わかめ02」みたいな。本名は書くなよマジで
      </p>
      <h3>
        メールアドレス
      </h3>
       <p>
         有効なメールアドレスを使用してください。不正なアドレスの場合、アカウント認証メールが届きません。逆に言えば、届きさえすれば捨てアドでもええで。
      </p>
      <h3>
        パスワード
      </h3><p>
        パスワードは、他のサイトで使ってないものにして下さい。パスワードは暗号化して外部サーバーに保存され、わかめtubeの運営者も見ることはできません。が、、万が一、億が一流出してもええようにね。
      </p>
      <h3>
        複数アカウント
      </h3>
      <p>
        うーーーん。これは出来たらやめて欲しい。アカウントの共有とかは勝手にやったらええよ。
      </p>
      <h2>
        作成するメリット
      </h2>
      <p>
        色々です。これから増やしていこうと思ってます。まぁ、データの保存とかがメインになってくるので「お気に入りデータ」を
        無制限に保存できたり、みたいな？
      </p>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>垢BAN！</p>
    </div>
  </footer>
</body>
</html>