<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>わかめ</title>
  <link rel="stylesheet" href="/css/wakameblog.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>サーバー解説</h1>
      <p>わーい</p>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul>
        <li><a href="/">ホーム</a></li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <h2>説明</h2>
      <p>
        サーバーと言うか、動画の取得方法ですね。<br>
        現在のわかめtubeには、動画の取得方法が3パターン存在しており、識別のために「サーバー番号」みたいな感じでやってます。
        「もっといい名前あるよ」って方は問い合わせからどうぞ。<br>
        では早速、それぞれの説明をします。
      </p>
      <h2>オススメ順</h2>
      <p>
        1、3、2の順につおいと思います。<br>
        まぁ、時と場合によるってことね。
      </p>
      <h2>サーバー1</h2>
      <p>
        通常はこの方法で読み込まれます。動画を取得した後、正しいデータを取得しているかを確認して再生ページに移動します。
      </p>
      <h2>サーバー2</h2>
      <p>
        サーバー2を強化してサーバー1を作りました。が、仕様が結構違います。<br>
        「接続がタイムアウトしました」と表示された場合は、もしかしたらここでいけるかも。
      </p>
      <h2>サーバー3</h2>
      <p>
        わかめtubeはNode.jsで動作していますが、サーバー3ではpythonベースのスクリプトで動画を取得します。<br>
        そこそこ安定してると思われ。<br>
      </p>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>だーだーだー</p>
    </div>
  </footer>
</body>
</html>