<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>わかめ</title>
  <link rel="stylesheet" href="/css/wakameblog.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>サーバー開設</h1>
      <p>わーい</p>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul>
        <li><a href="/">ホーム</a></li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <h2>説明</h2>
      <p>
        サーバーと言うか、動画の取得方法ですね。<br>
        現在のわかめtubeには、動画の取得方法が3パターン存在しており、識別のために「サーバー番号」みたいな感じでやってます。
        「もっといい名前あるよ」って方は問い合わせからどうぞ。<br>
        では早速、それぞれの説明をします。
      </p>
      <h2>
        
      </h2>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>こ↑こ↓</p>
    </div>
  </footer>
</body>
</html>