<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>わかめ</title>
  <link rel="stylesheet" href="/css/wakameblog.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>プロフ</h1>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/blog/list">ブログ一覧</a></li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <h2>ごあいさつ</h2>
      <p>
        wikiが無くなって支離滅裂なプロフィールを書くことができなくなったのでこっちに書いてみようと思います。
      </p>
      <h2>
        事故哨戒
      </h2>
      <p>
        わかめ02と申します。漢字で「和布」と表記することもありますが、基本的には「わかめ02」を名乗ります。後ろの02は識別番号ですが、好きな食べ物はお寿司です。<br>
      </p>
      <h2>
        ぐちゃぐちゃ
      </h2>
      <p>
        「逃がすか」←トラウマ<br>
        「こっちだ...ウスノロ」←くだらん<br>
        「もう少し頑張ったら、俺に勝てたかもな！」←🖕<br><br>
        「防いでみろ！」←シンプルにだるい<br>
        「出直してきな」←ユニゲの溜まり方おかしいやろ<br>
        「100倍...200倍...1000倍...！」←連打すんな
      </p>
      <h2>
        like
      </h2>
      <p>
        わためぇを推してるわためいとです。かわいい！
      </p>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>？？？</p>
    </div>
  </footer>
</body>
</html>