<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>わかめ</title>
  <link rel="stylesheet" href="/css/wakameblog.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>プロフ</h1>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/blog/list">ブログ一覧</a></li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <h2>ごあいさつ</h2>
      <p>
        wikiが無くなって支離滅裂なプロフィールを書くことができなくなったので、こっちに書いてみようと思います。最近は<a href="/c/UC7d3Y_v5O202eo006uvvPzw">なきそ</a>さんの曲と<a href="/w/_gWn38pnmqI">snooze</a>をよく聴きます。
        好きな曲は<a href="/w/f6TytcA47rI">くうになる</a>です。たぶん<br>
        一番好きな曲は<a href="/songs/rainbow">RAINBOW</a>だと思います。自分の好みって案外分からんもんよね。
      </p>
      <h2>
        事故哨戒
      </h2>
      <p>
        わかめ02と申します。漢字で「和布」と表記することもありますが、基本的には「わかめ02」を名乗ります。後ろの02は識別番号ですが、好きな食べ物はお寿司です。<br>
        <small>※ゲームのニックネームは違います。</small><br>
        ちょっと強めの思想を持っているかもしれません。なんかもう病んでるかもしれません。
      </p>
      <h2>
        ぐちゃぐちゃ
      </h2>
      <p>
        漫画とゲーム好きの引きこもりです。スマホゲー以外なら、割となんでもでも触ってたりします。スマホゲーは、ぷにぷに、レジェンズ、音ゲーぐらいです。<br><br>
        体が弱いので、太陽光を浴びると吐き気を催します。場面緘黙症なので、他人と話すことはほぼ出来ません。何度も頭から血が出ました。毛根の一部は怪我によって消え失せています。自転車にぶつかられて、目から血が出ました。しかし、快適な部屋に居る限り、内側のテンションは常に高いです。<br><br>
        かわいいものが好きです。ただし、好きなのは2次元のかわいさであって、3次元ではありません　:(
      </p>
      <h2>
        like
      </h2>
      <p>
        わためぇを推してるわためいとです。かわいい！<br><br>
        「オルタンシア・サーガ」と言うゲームが大好きです。もうサ終しましたが。今でも「一番好きなゲーム」と言われたらこれを答えます。
        もう一度やりたいなぁ()<br>
        なんか機械翻訳みたいな不自然な日本語を書くのが好きです。
      </p>
      <h2>
        好きなYouTuber
      </h2>
      <li>セイキン</li>
      <p>最近は、動いてるセイキンを見るだけで幸せになれます</p>
      <li>コウイチtv</li>
      <p>安定の面白さ。実家のような安心感</p>
      <h2>
        志
      </h2>
      <p>
        「僕の目に映るものが平和であること」です。極論を言ってしまえば、目に映らないものは平和でなくても構いません。だって、それは見えてないのだから <br>
        「平和」と言うか、和やかな雰囲気と言いますか。漫画もそう言う感じのやつが好きです。
      </p>
      <h2>連絡する</h2>
      chatworkで連絡して下さい！それ以外はあんまし見ません！
      
      chatworkのidは「watawatafuwafuwa」です。
    </div>
  </main>
  <footer>
    <div class="container">
      <p><a href="/w/JqwKeddXPOg">流行の病に媚び諂って 脳ミソ共々くれてやる<br>悪い自意識の塊を以て 貴方の血肉になれるなら</a></p>
    </div>
  </footer>
</body>
</html>