<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>わかめ</title>
  <link rel="stylesheet" href="/css/wakameblog.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>わかめtubeの使い方</h1>
      <p>🎉😆🎉</p>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/blog/list">ブログ一覧</a></li>
        <li><a href="/send">お問い合わせ</a></li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <h2>ごあいさつ</h2>
      <p>
        わかめ02です。今回は、開発者側から見たわかめtubeの使い方について書いてみようと思います！
      </p>
      <h2>
        そもそも何故作ったの？
      </h2>
      <p>
        いろいろな偶然が重なり合って出来たって感じですが、1番の理由は「１つのサイトで全てをやりたい」と思ったのが始まりです。<br>
        YouTubeはこのサイトで見て、ダウンロードはこっちでして、proxyはこれを使って、ゲームはこのサイトにあって...
        うん。どう考えても面倒くさい。<br>
        私たちが生き残るためには、面倒くさいことを捨て、より素晴らしいスクールライフを送ることが重要です。<br>
        いろいろなアンブロックサイトが存在していますが、どれも基本的に１つの機能を持つだけです。良くて、ゲームが付いているproxyがあったくらいでしょうか。<br>
        「生徒目線での開発」これこそ、全てを解決することが出来るのですd(￣ ￣)
      </p>
      <h2>
        使い方
      </h2>
      <p>
        ホームに行きます。Waoを押すと、proxyが出て来ます。appを押すと、ゲームが出て来ます。ツールを押すと、便利ツールが出て来ます。<br>
        わかめtubeの動作状況を確認では、わかめtubeが起動しているか、を確かめます。起動していたなら「動作しています」と表示されます。<br>
        ブログを押すと、ブログ一覧が出て来ます。<br>
        「お知らせ」などは、ために見ることを前提に書いています。結構重要なことを言ってたりするので、たまに開いてみて下さい。<br>
      </p>
      <h2>問い合わせしまくろう</h2>
      <p>
        何か気づいた点があれば、すぐに<a href="/send">問い合わせ</a>に送って下さい。<br>
        安心して下さい。個人情報は一切収集されません！<br>
        また、追加して欲しい機能などがあれば、すぐに送って下さい。言いたいことがある場合も送って下さい。<br>
        1人じゃ、何をすればいいかを考えるのに限界があるんです😵<br>
        あなたの意見が、サイトを変えます(適当)
      </p>
      <h2>
        個人的に連絡する
      </h2>
      <p>
        わかめ02に連絡できます<br>
        Chatwork: watawatafuwafuwa
      </p>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>&copy; わかめ02 / 2024.09.09</p>
    </div>
  </footer>
</body>
</html>