<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>わかめの美味しい食べ方</title>
  <link rel="stylesheet" href="/css/wakameblog.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>わかめMusic！</h1>
      <p>🎶</p>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/wakams">わかめMusic</a></li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <h2>わかめMusic！</h2>
      <p>
        あなたの好きな音楽を無料でいくらでも聴くことができるサービスです！soundcloudの埋め込みと非公式APIで動作しています。<br>
        どの端末からでもアクセスでき、web上で簡単に再生できます。
      </p>
      <h2>お気に入り機能</h2>
      <p>
        以前からの課題であった「お気に入り機能」をついにわかめMusicにて実装しました！<br>
        IDで保存した後どうやって内容を呼び出すかが課題だったのですが、内容ごと保存することにより実装を可能にしますた！<br>
        お気に入りページにてセーブコードを発行できます。それをメモとかに保存しておけば、もしデータが飛んでもロードを押してセーブコードを入力すれば
        お気に入り情報が戻ってきます！<br>
        また、いくつか保存しておくことでプレイリストのようにして使用することもできます！
      </p>
      <h2>ロードのやり方</h2>
      <p>
        お気に入りページに入り、右上のクリアを押します。別にクリアしなくても良いんですが、そっちの方が安全です。<br>
        次にロードを押し、保存していたセーブコードを入力してOKを押します。<br>
        ページを再読み込みすると、お気に入りが反映されます！
      </p>
      <h2>セーブコードについて</h2>
      <p>
        非常にわかりやすいコードになっています。<br>
        「artwork_url」には左側の画像が入っています。ここのURL変えることで、サムネを自分の好きな画像に変えることができます。<br>
        「title」は普通にタイトルです。タイトルを変えることで、自分の好きなタイトルにできます。<br>
        「id」はIDです。絶対に変更しないで下さい。違う曲を読み込むか、エラーが発生します。<br><br>
        自分好みにカスタマイズしたコードをロードすれば、自分好みの完璧なプレイリストを作れますね！
      </p>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>わあ</p>
    </div>
  </footer>
</body>
</html>