<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>わかめ</title>
  <link rel="stylesheet" href="/css/wakameblog.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>わかめ</h1>
      <p>wiki</p>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul>
        <li><a href="/">ホーム</a></li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <p>
        <strong>わかめ</strong>とは、海に生えている緑色の布である。天日干しすることで乾燥し、からっからのタオルになる。水を吸い込むと、布に戻る。
      </p>
      <h2>概要</h2>
      <figure>
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Korea-Miyeok-01.jpg" alt="積み上げられたワカメタオル" style="width: 300px;">
    <figcaption>積み上げられたワカメタオル</figcaption>
      </figure>

      <p>
        大昔、それら海王によって造られ、幻想的かつ神秘的な海のワカメとなりました。<br>
        1900年、オットー・ビスマルクが海岸を見ていた時にワカメが流れ着いたのが人とワカメの関わりの始めだと言われています。<br>
        当時は布が貴重だったため、ビスマルクはワカメをタオル代わりにする方法を思いつき、大量に収穫して加工しました。
        ワカメタオルは、使っても天日干しすればもう一度使えることや、最悪そのまま食べられるなどのメリットを背景に、全世界に売れてゆきました。
        いつしかワカメは、ドイツ帝国の輸出率の80%にも及ぶようになりました。
      </p>
      <h2>
        タオルとしての需要
      </h2>
      <p>
        近年、ワカメタオルの国際化に伴い、わかめの需要が大幅に大きくなっています。ワカメが積み上げられているスーパーを見たことがある人も多いでしょう。<br>
        また、海風呂と言う新しい文化もワカメは芽生えさせました。各自で海に入り、セルフでワカメを収穫してタオルにすると言うものです。この事業は成功し、人々にワカメをもたらしました。
      </p>
      <h2>
        食用わかめ
      </h2>
      <p>
        ここまではワカメタオルについて取り上げて来ましたが、実は100%食用のわかめと言うものも存在しています。1938年、ヒトラーはドイツが食糧難に陥った時、ワカメを食べることを推進しました。ずっとタオルとして使われていたワカメですが、とても美味しかったんです。ヒトラーはそれを見抜き、ドイツの市場に流通させたと言うことです。ワカメが食用になった背景にはヒトラーの計らいがあった訳ですね。
わかめごはん美味しいよ！
      </p>
      <h2>
        〆
      </h2>
      <p>
        わかめはこれからも全宇宙で活躍してゆくことでしょう。
      </p>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>from まっしろ</p>
    </div>
  </footer>
</body>
</html>