<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>わかめ</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
 <header>
    <div class="banner">
      <button class="btn btn-link" onclick="window.location.href='/'">ホーム🏠</button>
      <button class="btn btn-link" onclick="window.location.href='/blog'">お知らせ</button>
      <form class="d-flex" action="/s">
        <input type="text" name="q" class="form-control" placeholder="キーワードを入力..." required>
      </form>
      <button class="btn btn-link" style="position: absolute; right: 10px;" onclick="window.location.href='/send'">問い合わせ</button>
    </div>
  </header>
    <ul>
        <li><a href="/proxy/shadow">shadow tabbed</a></li>
        <li><a href="/proxy/inbox">Inbox</a></li>
        <li><a href="/proxy/doge">Doge unblocker</a></li>
        <li><a href="https://hiroyukisine.zapto.org" target="_blank">intersteller</a>(新しいタブで開きます)</li>
        <li><a href="/proxy/art">Art class</a></li>
        <li><a href="/proxy/rammer">Rammer head</a></li>
        <li><a href="https://xtm887-8080.csb.app" target="_blank">black web</a>(新しいタブで開きます)</li>
        <li><a href="/proxy/flow">FlowOS</a></li>
        <li><a href="https://www.koube2323.net" target="_blank">Croxy Proxy</a>(新しいタブで開きます) - ユーザー名5656、パスワード1212</li>
    </ul>
</body>
</html>