<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>わかめ</title>
</head>
<body>
    <ul>
        <li><a href="/proxy/shadow">shadow tabbed</a></li>
        <li><a href="/proxy/inbox">Inbox</a></li>
        <li><a href="/proxy/doge">Doge unblocker</a></li>
        <li><a href="/proxy/st">interstellar</a></li>
        <li><a href="/proxy/art">Art class</a></li>
    </ul>
</body>
</html>